## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import gmaps
import requests


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Jose Dos Campos,BR,-23.1794,-45.8869,64.22,82,100,7.09,overcast clouds
1,1,Cabo San Lucas,MX,22.8909,-109.9124,86.18,74,16,13.89,few clouds
2,2,Nsoko,SZ,-27.0333,31.9500,59.04,62,0,3.65,clear sky
3,3,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,79.12,76,25,6.58,scattered clouds
4,4,Busselton,AU,-33.6500,115.3333,59.18,70,86,20.40,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Cabo San Lucas,MX,22.8909,-109.9124,86.18,74,16,13.89,few clouds
3,3,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,79.12,76,25,6.58,scattered clouds
13,13,Alofi,NU,-19.0595,-169.9187,79.07,72,100,22.03,overcast clouds
15,15,Atuona,PF,-9.8000,-139.0333,77.76,71,39,18.14,scattered clouds
24,24,Vaini,TO,-21.2000,-175.2000,75.92,83,100,21.47,overcast clouds
25,25,Avarua,CK,-21.2078,-159.7750,75.25,64,75,8.05,broken clouds
26,26,Jalu,LY,29.0331,21.5482,86.18,21,0,10.02,clear sky
30,30,Bengkulu,ID,-3.8004,102.2655,75.51,90,63,3.09,broken clouds
32,32,Touros,BR,-5.1989,-35.4608,80.89,69,67,12.03,broken clouds
33,33,Puerto Escondido,MX,15.8500,-97.0667,86.45,63,100,8.79,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                218
City                   218
Country                218
Lat                    218
Lng                    218
Max Temp               218
Humidity               218
Cloudiness             218
Wind Speed             218
Current Description    218
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cabo San Lucas,MX,86.18,few clouds,22.8909,-109.9124,
3,Sao Jose Da Coroa Grande,BR,79.12,scattered clouds,-8.8978,-35.1478,
13,Alofi,NU,79.07,overcast clouds,-19.0595,-169.9187,
15,Atuona,PF,77.76,scattered clouds,-9.8000,-139.0333,
24,Vaini,TO,75.92,overcast clouds,-21.2000,-175.2000,
25,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
26,Jalu,LY,86.18,clear sky,29.0331,21.5482,
30,Bengkulu,ID,75.51,broken clouds,-3.8004,102.2655,
32,Touros,BR,80.89,broken clouds,-5.1989,-35.4608,
33,Puerto Escondido,MX,86.45,overcast clouds,15.8500,-97.0667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame

    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cabo San Lucas,MX,86.18,few clouds,22.8909,-109.9124,Vista Roof Restaurant
3,Sao Jose Da Coroa Grande,BR,79.12,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel
13,Alofi,NU,79.07,overcast clouds,-19.0595,-169.9187,Taloa Heights
15,Atuona,PF,77.76,scattered clouds,-9.8000,-139.0333,Villa Enata
24,Vaini,TO,75.92,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
26,Jalu,LY,86.18,clear sky,29.0331,21.5482,صاحبة الفخامة
30,Bengkulu,ID,75.51,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
32,Touros,BR,80.89,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
33,Puerto Escondido,MX,86.45,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   218
Country                218
Max Temp               218
Current Description    218
Lat                    218
Lng                    218
Hotel Name             218
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description and Max Temp</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))